.card{
    background-image: url("../images/h_img.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
    height:800px;
    max-width: 100%;
}
.text{
    text-align: center;
    color: white;
    margin-top: 100px;
}
.delani-header{
    font-family: sans-serif;
    font-size: 260%;
}
.p1{
    font-family: sans-serif;
    font-size: 15px;

}
.sub-header{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}
.desc{
    text-align: center;
    font-family:sans-serif;
    font-size: 17px;
}
.card1{
    background-image: url("../images/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.sub1-header{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    padding-top: 100px;
    font-family: sans-serif;
}
.desc1{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 17px;
}
.sub2-header{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
 
}
.sub3-header{
    text-align: center;
}
.card5{
    background-image: url("../images/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.sub4-header{
    color: white;
    text-align: center;
}
.footer{
    text-align: center;
}
.copyright{
    text-align: center;
}
.btn{
    text-align: center;
    color: white;
    background-color: black;
    border: 1px;
    margin-left: 45%;
}
.form-control{
    background: transparent;
    border: 1px solid white;
    border-radius: 0px;
    color: white;
}